/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  Background: #FFFFFF;
  Color: #222222;
}
h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
p {
  font-weight: Regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background: gray;
}
.nav-bar .logo {
  padding-left: 2%;
}
.nav-bar .hamburger {
  height: 20px;
  padding-right: 2%;
  cursor: pointer;
}
.nav-bar .close-hamburger {
  height: 20px;
  padding-right: 2%;
  cursor: pointer;
  display: none;
}
.nav-bar .nav-container {
  width: 100%;
  height: 100px;
  display: none;
}
.nav-bar nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 4.8rem;
  line-Height: 85px;
  align-self: center;
}
.nav-bar nav a {
  color: #FFFFFF;
}
.nav-bar nav a:hover {
  color: #222222;
}
.nav-toggle {
  height: 100%;
  width: 1000px;
  opacity: 0.5;
  opacity: 0.75;
  position: fixed;
  z-index: 1;
  align-items: flex-start;
  padding-top: 1%;
}
footer {
  height: 270px;
  background: #828282;
  color: #FFFFFF;
}
footer .main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
footer .main-footer h2 {
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 5%;
}
footer .main-footer .florida,
footer .main-footer .newyork,
footer .main-footer .cali {
  margin-left: 5%;
}
footer .main-footer .florida h3,
footer .main-footer .newyork h3,
footer .main-footer .cali h3 {
  font-size: 2rem;
}
footer .main-footer .florida p,
footer .main-footer .newyork p,
footer .main-footer .cali p {
  font-size: 1.2rem;
  font-weight: normal;
}
footer .main-footer .email-box {
  margin-right: 5%;
}
footer .main-footer .email-box form input {
  height: 35px;
  width: 89%;
  padding-left: 5px;
  border-radius: 5px;
  margin-bottom: 5%;
}
footer .main-footer .email-box p {
  font-size: 1.2rem;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright p {
  font-size: 1.2rem;
  font-weight: normal;
}
.container .jumbo-container {
  position: relative;
}
.container .jumbo-container .jumbotron-text {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 10%;
}
.container .small-content-1,
.container .small-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.container .small-content-1 .box-1,
.container .small-content-2 .box-1,
.container .small-content-1 .box-2,
.container .small-content-2 .box-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .small-content-1 .box-1 p,
.container .small-content-2 .box-1 p,
.container .small-content-1 .box-2 p,
.container .small-content-2 .box-2 p {
  width: 85%;
  margin-top: 10px;
}
.container .small-content-1 .box-1 button,
.container .small-content-2 .box-1 button,
.container .small-content-1 .box-2 button,
.container .small-content-2 .box-2 button {
  width: 35%;
  height: 40px;
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 10px;
}
.container .small-content-2 {
  flex-direction: row-reverse;
}
.container .small-content-2 .box-2 {
  padding-left: 8.5%;
}
.container .big-content-section .h2-recent-projects {
  margin: 5% 0;
}
.container .big-content-section .h2-graybox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  width: 30%;
  height: 70px;
  background: #D8D8D8;
  border: 1px solid white;
}
.container .big-content-section .big-content-1,
.container .big-content-section .big-content-2,
.container .big-content-section .big-content-3 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .big-content-section .p-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
}
.container .big-content-section .p-content p {
  margin: 1% 0;
  width: 40%;
}
.container .big-content-1 .h2-graybox {
  position: absolute;
  left: 62.7%;
  bottom: 58%;
}
.container .big-content-2 .h2-graybox {
  position: absolute;
  left: 7.2%;
  bottom: 58%;
}
.container .big-content-3 .h2-graybox {
  position: absolute;
  left: 62.7%;
  bottom: 58%;
}
