.container {

    .jumbo-container {
        position: relative;

        .jumbotron-text {
            font-weight: bold;
            font-size: 6.4rem;
            line-height: 75px;
            color: @jumbo-color;
            position: absolute;
            top: 50%;
            left: 10%;
        }
    }

    .small-content-1, .small-content-2 {
        .center();
        margin-top: 40px;

        .box-1, .box-2 {
            display: flex;
            flex-direction: column;
            width: 50%;

            p {
                width: 85%;
                margin-top: 10px;
            }

            button {
                .button-creator(35%, 40px, @button-bg, @font-color, 1.6rem);
                margin-top: 10px;
            }
        }
    }

    .small-content-2 {
        flex-direction: row-reverse;

        .box-2 {
            padding-left: 8.5%;
        }

    }

    .big-content-section {

        .h2-recent-projects {
            margin: 5% 0;
        }

        .h2-graybox {
            .center();
            width: 30%;
            height: 70px;
            background: @box-background;
            border: 1px solid white;

        }
    }
  
}