.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
    height: 40px;

    .logo {
        padding-left: 5%;
        width: 80%;
    }

    .hamburger {
        height: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 4.8rem;
        line-Height: 85px;

        a {
            color: #FFFFFF;
            display: none;
        }

        a:hover {
            color: #222222;
        }
    }
}