.container {
    
    .services-content {
        width: 800px;
        margin: 0 auto;
        
        .tabs-links {
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 5%;

            .tab.link-selected {
                background: @tab-select-bg;
                color: @tab-select-color;
            }
            
            .tab {
                width: 21%;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                cursor: pointer;

                &:hover {
                    background: @grayblack;
                    color: @tab-hover-color;
                }
            }
        }

        .tab-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5%;

            .tab-item-title.title-selected {
                display: inline;
            }

            .tab-item-title {
                font-size: 2rem;
                font-weight: bold;
                display: none;

            }

            .tab-item-img.img-selected {
                display: inline;
            }

            .tab-item-img {
                display: none;
            }
        }

        p {
            width: 95%;
            margin: 5% 0;
        }
    }
}

