@mobile: ~"(max-width: 500px)";

// Color assignments 
@font-color: @grayblack;
@jumbo-color: @white;
@button-bg: @white;
@main-bg:  @white;
@button-border: @grayblack;
@navigation-bg: @whitegrey;
@footer-bg: @whitegrey;
@footer-color: @white;
@box-background: @lightgray;
@tab-select-bg: @lightblue;
@tab-hover-bg: @grayblack;
@tab-hover-color: @white;

// Colors
@white: #FFFFFF;
@grayblack: #222222;
@whitegrey: #828282;
@lightgray:  #D8D8D8;
@lightblue: #5E9FB9;

